# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# pytest
.pytest_cache/
.coverage
htmlcov/

# Build / packaging
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db